METAMIND_DOMAIN=metamind-app.duckdns.org
METAMIND_PUBLIC_URL=https://metamind-app.duckdns.org
POSTGRES_DB=metamind
POSTGRES_USER=metamind
POSTGRES_PASSWORD=change_this_password
METAMIND_JWT_SECRET=change_this_jwt_secret_with_a_long_random_value
